*{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #638357;
}

.casilla{
    width: 120px;
    height: 120px;
    background-color: #8eb4cf;
    margin: 10px;
    border: solid 2px black;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

}

.circulo{
    width: 65px;
    height: 65px;
    border-radius: 50%;
    border: #366586 solid 10px;
    background-color: transparent;
    display: none;
}

.cuadrado{
    width: 40px;
    height: 40px;
    border: #7c684c solid 8px;
    background-color: transparent;
    rotate: 45deg;
    display: none;
}

.casilla:hover{
    background-color: #794848;
}

#principal{
    display: grid;
    grid-template-columns: 120px 120px 120px;
    justify-content: center;
    grid-gap: 20px;
    margin: auto;
    align-items: center;
}

#cabeza{
    display: grid;
    justify-content: center;
    margin: 20px;
}

#button {
    display: grid;
    justify-content: center;
    margin: 20px;
}

input{
    width: 90px;
    height: 35px;
    border-radius: 7px;
    background-color: #73818b;
}

input:hover{
    background-color: #794848;
}
